language: r
warnings_are_errors: false
cache:
  packages: true
script:
  - Rscript -e "rmarkdown::render(input = 'german.Rmd', output_dir = 'output', output_file = 'held_lebenslauf.pdf')"
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: "$GITHUB_TOKEN"
    local_dir: german/
    commiter-grom-gh: true
    on:
      branch: master
notifications:
  email: false
